*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    color: white;
    background-color: black;
    padding: 20px;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    border: 2px solid yellow;
}